[submodule "shared/vim/bundle/vim-airline"]
	path = shared/vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "shared/vim/bundle/vim-fugitive"]
	path = shared/vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "shared/vim/bundle/stylish-haskell"]
	path = shared/vim/bundle/stylish-haskell
	url = git@github.com:jaspervdj/stylish-haskell.git
[submodule "shared/vim/bundle/vim-stylish-haskell"]
	path = shared/vim/bundle/vim-stylish-haskell
	url = git@github.com:nbouscal/vim-stylish-haskell.git
[submodule "shared/vim/bundle/nerdtree"]
	path = shared/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
