[submodule "shared/vim/dotvim/bundle/YouCompleteMe"]
	path = shared/vim/dotvim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "shared/vim/dotvim/bundle/vim-stylish-haskell"]
	path = shared/vim/dotvim/bundle/vim-stylish-haskell
	url = git@github.com:nbouscal/vim-stylish-haskell.git
[submodule "shared/vim/dotvim/bundle/vim-clang-format"]
	path = shared/vim/dotvim/bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule "shared/vim/dotvim/bundle/nerdtree"]
	path = shared/vim/dotvim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "shared/vim/dotvim/bundle/vim-wakatime"]
	path = shared/vim/dotvim/bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "shared/vim/dotvim/bundle/tabular"]
	path = shared/vim/dotvim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
